html{
    background-image: url(images/bbq.jpg);
}

body{
    background-color: aliceblue;
	text-align:center;
	width:800px;
	border:2px solid black;
	margin:auto; /** met le body au milieu de la page **/
}

a{	
	color:black;           /** ne met pas en violet   **/
    text-decoration:none;  /** enleve le soulignement **/
}

header .titre{
	width:500px;
    padding-top: 10px;
    padding-bottom: 30px;
}

nav a{
    padding-right: 20px; 
    padding-left:20px;        
}

nav{
    
    background-color: #D4886A;
    text-align: center;
    font-size: 30px;
    font-variant:small-caps;
    border-top:4px solid #803315;
}

nav a:hover{
	background-color:#FFC2AA;  /** effet changement de couleur quand passage souris **/	
}

aside{
	height:30px;
	width:130px;
	background-color:#D4886A;	
	border-radius:0px 50px 50px 0px;   /** met l'arrondi sur la droite **/
	font-size:22px;
	position:absolute;
	margin-left:802px;                 /** +2px ne chevauche pas la bordure **/
	/** margin-top:0px;  ne semble pas etre utile**/ 
	padding:3px;	
	transition:all 0.5s ease;       /** dégrossit l'effet loupe **/     
}

aside:hover{
	width:160px;    
	transition:all 0.5s ease;             
}

footer{      
    background-color:#803315;;
	position:fixed;
	bottom:0px;
	width:792px;
	color:white;
	text-align:right;
	padding:5px;
}

h3{     /** pas de h3 dans le code..? **/
	color: #803315;
	font-size:18px;
	font-weight: bold;
	margin:0px;
}

  label{
 	display: inline-block;
	width: 140px;
  	padding: 5px;
 }