body{
	text-align:center;
	width:800px;
	margin-bottom:0px;
	border:2px solid black;
	margin:auto;
}

a{
	text-decoration:none;
	color:black;
}

header .titre{
	width:500px;
}

nav a{
    padding-right: 20px; 
    padding-left:20px;   
    color: black; 
}

nav{
    background-color: #D4886A;
    text-align: center;
    font-size: 30px;
    font-variant:small-caps;
    border-top:4px solid #803315;
}

nav a:hover{
	background-color:#FFC2AA;	
}

aside{
	height:30px;
	width:130px;
	background-color:#D4886A;	
	border-radius:0px 50px 50px 0px;
	font-size:22px;
	position:absolute;
	margin-left:800px;
	margin-top:0px;
	padding:3px;
	transition:all 1s ease;
}

aside:hover{
	width:160px;
	transition:all 1s ease;
}

footer{      
    background-color:#803315;;
	position:fixed;
	bottom:0px;
	width:792px;
	color:white;
	text-align:right;
	padding:5px;
}

h1{
    color: rgb(0,49,194);
}


h3{
	color: #803315;
	font-size:18px;
	font-weight: bold;
	margin:0px;
}

  label{
 	display: inline-block;
	width: 140px;
  	padding: 5px;
 }