.img-menu{
	width:150px;
	height:100px;
	border:1px solid black;
	float:left;
	margin-left:50px;
	margin-top:15px;
}

.description-menu{
	width:500px;
	height:100px;
	float:right;
	margin-right:50px;
	margin-top:15px;
	overflow:auto;
	text-align:justify;
}

.prix-menu{
	background-image:url(http://icons.iconarchive.com/icons/icons8/ios7/64/Ecommerce-Price-Tag-icon.png);
	background-repeat: :no-repeat;
	width:64px;
	height:40px;
	position:absolute;
	margin-top:18px;
	padding-top:24px;
	font-weight:bold;
}

h3{
	color: #803315;
	font-size:18px;
	font-weight: bold;
	margin:0px;
}

#boissons{
	text-align:left;
	width:350px;
	margin-left:70px;
	float:left;
}

#desserts{
	text-align:left;
	float:right;
	margin-right:70px;
	width:300px;
}
